<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="GitHub-KO.BuildingBlocks" value="https://nuget.pkg.github.com/komeilshahmoradi/index.json"/>
  </packageSources>

  <!-- Define mappings to fix the Warning-As-Error -->
  <packageSourceMapping>
    <!-- Your private packages -->
    <packageSource key="GitHub-KO.BuildingBlocks">
      <package pattern="KO.BuildingBlocks.*" />
    </packageSource>

    <!-- Public packages -->
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
  
</configuration>